<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pi razy schody</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="parallax-container" style="height: 300px">
      <div class="parallax"><img src="//unsplash.it/1920/1080/?image=348"></div>
      <div class="container">
        <h1 class="deep-orange-text">\(\pi*schody\)</h1>
        <div class="chip teal-text">Michał Sidor</div> <div class="chip teal-text">Karol Karczewski</div>
      </div>
    </div>
    <div class="container flow-text">
      {{ content }}
    </div>
    <div class="parallax-container" style="height: 300px">
      <div class="parallax"><img src="//unsplash.it/1920/1080/?image=825"></div>
      <div class="container right-align" style="margin-top: 100px">
        <h1 class="deep-orange-text"><span style="font-variant: small-caps">Wynik:</span> \(0.35 \frac{m}{s} \pm 0.33\)</h1>
      </div>
    </div>
    <script>$(".parallax").parallax();</script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/contrib/auto-render.min.js" integrity="sha384-dq1/gEHSxPZQ7DdrM82ID4YVol9BYyU7GbWlIwnwyPzotpoc57wDw/guX8EaYGPx" crossorigin="anonymous"></script>
    <script>
      renderMathInElement(document.body);
    </script>
  </body>
</html>
